<!DOCTYPE html>
<html lang="en" style='height:100%'>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/twitter.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/imagehover.min.css"> -->

</head>

<body style='height:100vh'>
    <div id='app'>


        <!-- landing page -->
        <div v-show='islogin === false'>
            <div id='landingpage' style='height: 100%;' v-show='beforeloginpage === 1'>
                <div class='row justify-content-center pt-4'>
                    <img style="height: 180px"
                        src='https://dewey.tailorbrands.com/production/brand_version_mockup_image/491/1972573491_31b262ed-3d5e-49c2-bd92-228049305f12.png?cb=1557396841'>
                </div>
                <div class='row justify-content-left pt-5' style='background:width 100%; height: auto;'>
                    <div id='fakeTweet' class='col-sm-7 mt-5 pl-5'>
                        <img src="fakeTweet.png" style="width:100%" class='pl-5'>
                    </div>
                    <div class='col-sm mt-5 pl-5'>
                        <div class='row justify-content-center'>
                            <div class='col-sm-12'>
                                <h3>Get Started</h3>
                            </div>
                            <div class='col-sm-12'>
                                <button type="button" class="btn btn-primary"
                                    v-on:click.prevent="beforelogin(2)">Login</button>
                                <button type="button" class="btn btn-danger"
                                    v-on:click.prevent="beforelogin(3)">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- landing page end -->

            <!-- login page -->
            <div id="loginPage" v-show='beforeloginpage === 2'>
                <div class='row justify-content-center pt-4'>
                    <img style="height: 180px"
                        src='https://dewey.tailorbrands.com/production/brand_version_mockup_image/491/1972573491_31b262ed-3d5e-49c2-bd92-228049305f12.png?cb=1557396841'>
                </div>
                <div>
                    <div class='row justify-content-center'>
                        <div class='row justify-content-center'>
                            <h3 class='mt-3'>Sign In Here</h3>

                            <div class="form-group mt-5 col-sm-12">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email" v-model="email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password" v-model="password">
                            </div>
                            <button type="button" class="btn btn-primary" v-on:click.prevent="login">Login</button>
                            <button type="button" class="btn btn-danger" v-on:click.prevent="beforelogin(3)">Don't have
                                any
                                account</button>
                        </div>

                    </div>

                </div>

            </div>
            <!-- login page end -->

            <div id="signup page" v-show='beforeloginpage === 3'>
                <div class='row justify-content-center pt-4'>
                    <img style="height: 180px"
                        src='https://dewey.tailorbrands.com/production/brand_version_mockup_image/491/1972573491_31b262ed-3d5e-49c2-bd92-228049305f12.png?cb=1557396841'>
                </div>
                <div>
                    <div class='row justify-content-center'>
                        <div class='row justify-content-center'>
                            <h3 class='mt-3'>Register First </h3>
                            <div class="form-group mt-5 col-sm-12">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail2"
                                    aria-describedby="emailHelp" placeholder="Enter email" v-model="email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword2"
                                    placeholder="Password" v-model="password">
                            </div>

                            <button type="button" class="btn btn-primary" v-on:click.prevent="beforelogin(2)">Already
                                have an
                                account</button>
                            <button type="button" class="btn btn-danger" v-on:click.prevent="register">Register</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- signup page end-->


        <div v-show='islogin'>

            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"><img
                        src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/491/1972573491_31b262ed-3d5e-49c2-bd92-228049305f12.png?cb=1557396841"
                        height="60px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <div class="row">
                            <a class="nav-item nav-link active" href="#" v-on:click="changepage(2)">New <span class="sr-only">(current)</span></a>

                            <a class="nav-item nav-link" href="#" v-on:click="changepage(3)">Manage Hoax</a>

                            <div v-show='islogin' class="col" style="width: 100%">
                                <button type="button" class="btn btn-danger" v-on:click.prevent="logout">Logout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- NAVBAR END -->


            <!-- <div>
                <ul class="nav justify-content-around" style="background-color:rgb(163, 163, 187)" >
                    <li class="nav-item">
                        <a class="nav-link" href="#" v-on:click="changepage(2)">new</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" v-on:click="changepage(3)">Manage Hoax</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" v-on:click="changepage(5)">Draft</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#" v-on:click="changepage(4)">Template</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#" v-on:click.prevent="logout">Log out</a>
                    </li>
                </ul>
            </div> -->

            <div id='manageyourhoax' v-show='page === 3'>
                <div class="container">
                    <div class='row justify-content-center m-5'>
                        <img :src='currentCard'>
                    </div>
                    <div class='row justify-content-center' style='height:600px; overflow-y:scroll'>
                        <div class='col-sm-9' v-for='(hoax, index) in hoaxes'>
                                <hoaxlist @showcard="tes" :hoax="hoax" :index="index+1"></hoaxlist>
                        </div>
                    </div>
                </div>
            </div>
            <!-- logout page end-->

            <!-- form input start -->
            <div class="row" v-show='page === 2 '>
                <!-- kiri start-->
                <div id="left-side" class="col-4 d-flex justify-content-center">
                    <form>
                        <div class="form-group">
                            <label for="image-source">Profile picture:</label>
                            <input type="file" class="form-control-file" id="image-source" onchange="previewImage()">
                            <small class="form-text text-muted">PNG and JPG images accepted</small>
                        </div>

                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input v-model="tweetObj.name" type="text" class="form-control" placeholder="Name">
                        </div>

                        <label for="username">Username (Twitter handle):</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">@</span>
                            </div>

                            <input v-model="tweetObj.user_name" id="username" type="text" class="form-control"
                                placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">

                        </div>
                        <small class="form-text text-muted">Can only be letters, numbers, and
                            underscores.
                        </small>

                        <div class="form-group">
                            <!-- <input  type="text" class="form-control" placeholder=""> -->
                        </div>

                        <br>

                        <div class="form-group green-border-focus">
                            <label for="exampleFormControlTextarea5">Tweet content:</label>
                            <textarea v-model="tweetObj.tweet_content" class="form-control"
                                id="exampleFormControlTextarea5" placeholder="Your Tweet here!" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="time">Time:</label>
                            <input v-model="tweetObj.time" type="time" class="form-control" placeholder=""
                                value="12:00">
                        </div>

                        <div class="form-group">
                            <label for="time">Date:</label>
                            <input v-model="tweetObj.date" type="date" class="form-control" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="name">Replies:</label>
                            <input v-model="tweetObj.replies" type="number" max="10000000000" class="form-control">
                            <small class="form-text text-muted ">Maximum 9,999,999,999. Numbers only.</small>
                        </div>

                        <div class="form-group">
                            <label for="name">Retweets:</label>
                            <input v-model="tweetObj.retweet" type="number" max="10000000000" class="form-control">
                            <small class="form-text text-muted ">Maximum 9,999,999,999. Numbers only.</small>
                        </div>

                        <div class="form-group">
                            <label for="name">Likes:</label>
                            <input v-model="tweetObj.likes" type="number" max="10000000000" class="form-control">
                            <small class="form-text text-muted ">Maximum 9,999,999,999. Numbers
                                only.</small>
                        </div>
                    </form>
                </div>
                <!-- left end -->

                <!-- right start -->
                <div class=" col-8 d-flex justify-content-center">


                    <twitter-layout v-bind:tweetobj="tweetObj">

                    </twitter-layout>


                </div>
                <!-- right end -->
                <!-- form input end -->
            </div>
        </div>

    </div>
    <!-- app end -->

    <script src="https://cdn.jsdelivr.net/npm/canvas2image@1.0.5/canvas2image.min.js"></script>
    <script src="./js/html2canvas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <!-- <script src="./js/app.js"></script> -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/components/hoaxcard.js"></script>
    <script src="./js/components/hoaxlist.js"></script>
    <script src="./js/profile.js"></script>
    <script src="./js/components/tweetLayout.js"></script>
    <script src="./js/components/following.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>