<!DOCTYPE html>
<html lang="en" style='height:100%'>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/imagehover.min.css"> -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <link rel="stylesheet" href="./css/tweeter.css">

  </head>

<body style='height:100%'>
    <div id='app'>
        <div id='landingpage' style='height: 100%;' v-show='landingpage'>
            <div class='row justify-content-center pt-4'>
                <img style="height: 180px"
                    src='https://dewey.tailorbrands.com/production/brand_version_mockup_image/491/1972573491_31b262ed-3d5e-49c2-bd92-228049305f12.png?cb=1557396841'>
            </div>
            <div class='row justify-content-left pt-5' style='background:width 100%; height: auto;'>
                <div id='fakeTweet' class='col-sm-7 mt-5 pl-5'>
                    <img src="fakeTweet.png" style="width:100%" class='pl-5'>
                </div>
                <div class='col-sm mt-5 pl-5'>
                    <div class='row justify-content-center'>
                        <div class='col-sm-12'>
                            <h3>Get Started</h3>
                        </div>
                        <div class='col-sm-12'>
                            <button type="button" class="btn btn-primary"
                                v-on:click.prevent="tologinpage">Login</button>
                            <button type="button" class="btn btn-danger"
                                v-on:click.prevent="toregisterpage">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="loginPage" v-show="loginpage">
            <div class='row justify-content-center pt-4'>
                <img style="height: 180px"
                    src='https://dewey.tailorbrands.com/production/brand_version_mockup_image/491/1972573491_31b262ed-3d5e-49c2-bd92-228049305f12.png?cb=1557396841'>
            </div>
            <div>
                <div class='row justify-content-center'>
                    <div class='row justify-content-center'>
                        <h3 class='mt-3'>Sign In Here</h3>

                        <div class="form-group mt-5 col-sm-12">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email" v-model="email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password" v-model="password">
                        </div>
                        <button type="button" class="btn btn-primary" v-on:click.prevent="login">Login</button>
                        <button type="button" class="btn btn-danger" v-on:click.prevent="toregisterpage">Don't have any
                            account</button>
                    </div>
               
                </div>

            </div>
        </div>
        <div id="signup page" v-show="registerpage">
            <div class='row justify-content-center pt-4'>
                <img style="height: 180px"
                    src='https://dewey.tailorbrands.com/production/brand_version_mockup_image/491/1972573491_31b262ed-3d5e-49c2-bd92-228049305f12.png?cb=1557396841'>
            </div>
            <div>
                <div class='row justify-content-center'>
                    <div class='row justify-content-center'>
                        <h3 class='mt-3'>Register First </h3>

                        <div class="form-group mt-5 col-sm-12">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail2"
                                aria-describedby="emailHelp" placeholder="Enter email" v-model="email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2"
                                placeholder="Password" v-model="password">
                        </div>
                   
                        <button type="button" class="btn btn-primary" v-on:click.prevent="tologinpage">Already have an
                            account</button>
                        <button type="button" class="btn btn-danger" v-on:click.prevent="register">Register</button>
                    </div>
                </div>

            </div>
        </div>
        <div v-show='islogin'>
            <button type="button" class="btn btn-danger" v-on:click.prevent="logout">Logout</button>
            <div class="container">
                <div class='row'>
                    <div class='col-sm-4' v-for='hoax in hoaxes'>
                           <hoaxcard :hoax="hoax"></hoaxcard>
                    </div>
                </div>

            </div> 
        </div>

          <!-- form input start -->
          <div class="row" v-if="page_input">
            <!-- kiri -->
            <!-- <div id="left-side" > -->
                <div id="left-side" class="col-4 d-flex justify-content-center">
                    <form>
                      <div class="form-group">
                        <label for="image-source">Profile picture:</label>
                        <input type="file" class="form-control-file" id="image-source" onchange="previewImage()">
                        <small class="form-text text-muted">PNG and JPG images accepted</small>
                      </div>
          
                      <div class="form-group">
                        <label for="name">Name:</label>
                        <input v-model="name" type="text" class="form-control" placeholder="">
                      </div>
          
                      <div class="form-group">
                        <label for="username">Username (Twitter handle):</label>
                        <input v-model="user_name" type="text" class="form-control" id="username" placeholder="">
                        <small class="form-text text-muted">Can only be letters, numbers, and underscores.</small>
                      </div>
          
                      <br>
          
                      <div class="form-group green-border-focus">
                        <label for="exampleFormControlTextarea5">Tweet content:</label>
                        <textarea v-model="tweet_content" class="form-control" id="exampleFormControlTextarea5" placeholder="Your Tweet here!" rows="3"></textarea>
                      </div>
          
                      <div class="form-group">
                        <label for="time">Time:</label>
                        <input v-model="time" type="time" class="form-control" placeholder="" value="12:00">
                      </div>
          
                      <div class="form-group">
                        <label for="time">Date:</label>
                        <input v-model="date" type="date" class="form-control" placeholder="" >
                      </div>
          
                      <div class="form-group">
                        <label for="name">Replies:</label>
                        <input v-model="replies" type="text" class="form-control" >
                        <small class="form-text text-muted">Maximum 9,999,999,999. Numbers only.</small>
                      </div>
            
                      <div class="form-group">
                        <label for="name">Retweets:</label>
                        <input v-model="retweet" type="text" class="form-control" >
                        <small class="form-text text-muted">Maximum 9,999,999,999. Numbers only.</small>
                      </div>
              
                      <div class="form-group">
                        <label for="name">Likes:</label>
                        <input v-model="likes" type="text" class="form-control" >
                        <small  class="form-text text-muted errorMsg">Maximum 9,999,999,999. Numbers only.</small>
                      </div>
                          
          
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
            <!-- </div> -->


            <!-- kanan -->
            <!-- <div class="col-2 ">
              <br>
              <br>
              <div class="mid-container">
                  <div class="card border" id="twitter">
                      <div class="row tweet-head align-items-center">
                          <div class="col-sm-2 profile-container">
                              <img id="image-preview" class="profile-picture center-block" src="./user-default.png">
                          </div>
                          <div class="col">
                              <h5 style="margin-bottom: 0">{{ name }}</h5>
                              @{{ user_name }}
                          </div>
                          <div class="col follow-container">

                            <component :is='componentName' @change="change"></component>
                                

                              <div>
                                
                              </div>
                              <i class="fa fa-chevron-down" aria-hidden="true"></i>
                          </div>

                        </div>
                      <div class="row tweet-content">
                          <p>{{ tweet_content }}</p>
                          <br>
                          <div class="tweet-date">
                              {{ time }} - {{ date }}
                          </div>
                      </div>
                      <div class="row tweet-actions">
                          <ul>
                              <li><a href="#"><img src="./res/twitter-icons/twitter-reply-outline.svg" alt="" class="src"></a>{{ numConvert(replies) }}</li>
                              <li><a href="#"><img src="./res/twitter-icons/twitter-retweet.svg" alt="" class="src"></a></li>{{ numConvert(retweet) }}
                              <li><a href="#"><img src="./res/twitter-icons/twitter-like-outline.svg" alt="" class="src"></a></li>{{ numConvert(likes) }}
                              <li><a href="#"><img src="./res/twitter-icons/twitter-message.svg" alt="" class="src"></a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="profile-header-container">   
                <div class="profile-header-img">
                    <div class="rank-label-container">
                        <span class="label label-default rank-label"></span>

                    </div>
                  </div> 
            
          
                </div>
              </div> -->
              <!-- form input end -->
          </div> 
          <!-- form input end -->
  
    </div>
    

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./hoaxcard.js"></script>

    <script src="./js/profile.js"></script>
    <script src="./js/following.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>
